/*QV-VC Footer*/
article{
    @include quo-flex(flex, wrap, null, null, 40px);
    @include device(ipad){
        @include quo-flex(null, null, center);
        gap: 20px;
    }
    @include device(sm-ipad){
        gap: 10px;
    }
}
/*QV-VC Save Button and Action icons*/
qv-iconsvc{
    display: grid;
    grid-template-columns: 1fr 25%;
    gap:50px;
    align-items: center;
    max-width: 1400px;
    margin: 50px auto 20px;
    @include device(ipad){
        grid-template-columns: 1fr;
    }
    saveform{
        @include device(ipad){
            order: -1;
            text-align: right;
        } 
    }
    .fill-blue{
        min-width: 180px;
    }
}
figure {
    cursor: pointer;
    position: relative;
    a{
        @include quo-flex(flex, wrap, null, center, 7px, column);
        position: relative;
    }
    h4{
        text-transform: uppercase;
        font-weight: 400;
        @include device(ipad){
            font-size: 13px;
        }
    }
    &:nth-child(1){
        stroke: $violet;
        fill: rgba(31, 14, 136, 0.5);
        margin-right: auto;
        display: flex;
        gap: 130px;
        @include device(ipad){
            gap: initial;
            margin-right: 0;
        }
        
        &::after{
            content: '';
            background: $border-color;
            width: 2px;
            height: 80%;
            display: inline-block;
            @include device(ipad){
                content: none;
            }
        }
    }
    &:nth-child(2){
        stroke: $teal;
        fill: rgba(22, 154, 154, 0.2);
    }
    &:nth-child(3){
        stroke: $brown;
        fill: rgba(208, 85, 102, 0.2);
    }
    &:nth-child(4){
        stroke: $green;
        fill: rgba(29, 119, 29, 0.2);
    }
    &:nth-child(5){
        stroke: $yellow;
        fill: rgba(230, 201, 44, 0.2);
    }
    &:nth-child(6){
        stroke: $black;
        fill: rgba(38, 38, 38, 0.2);
    }
    &:nth-child(7){
        stroke: $biscuit;
        fill: rgba(204, 85, 24, 0.2);
    }
    i{
        display: block;
    }
}
select{
    background: url('../../images/down-arrow.png') no-repeat right 10px center/10px;
    cursor: pointer;
}
/*Cash footer*/
qv-interviewvc{
    display: block;
}
footer{
    display: block;
    li{
        margin-bottom: 10px;
    }
    p{
        margin-top: 16px;
        font-size: 13px;
        font-weight: 400;
        @include device(ipad){
            margin-top: 5px;
            font-size: 11px;
        }
    }
    nav ul{
        @include quo-flex(flex, wrap, space-between);
        a{
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}
.violet{
    color:$violet;
}
.teal{
    color:$teal;
}
.brown{
    color:$brown;
}
.green{
    color:$green;
}
.yellow{
    color:$yellow;
}
.black{
    color:$black;
}
.biscuit{
    color:$biscuit;
}
svg {
    width: 60px;
    height: 60px;
}
.icon__active{
    svg{
        stroke-width: 4px;
    }
}