
    button{
        cursor: pointer;
        font: inherit;
        outline: 0;
        border: 1px solid $grey;
        padding: 10px 20px;
        min-width: 115px;
        border-radius: 5px;
        text-align: center;
    }
    .outline{
        background: $white;
    }
    .fill{
        background: $grey;
        color: $white;
    }
    .fill-blue{
        background: $blue;
        color: $white;
        border-color: $blue;
    }
