/*QV-VC Form*/
qv-cashform{
    display: block;
    max-width: 1200px;
    margin: auto;
    h2{
        text-align: center;
    }
    form{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-gap: 50px;
        align-items: end;
        input,select{
            margin-bottom: 15px;
        }
        button{
            width: 100%;
        }
    }
}
qv-selectleft {
    display: grid;
    grid-template-columns: 80px 1fr;
    input[type="text"]{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
    }
    select{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
qv-selectright {
    display: grid;
    grid-template-columns: 50px 1fr;
    i{
        background: #fcfcfc;
        padding: 10px;
        border: 1px solid #e1e1e1;
        border-radius: 5px;
        width: 100%;
        font-size: 13px;
        margin-bottom: 15px;
        text-align: center;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    select{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
    }
}
qv-labelinput{
    display: grid;
    grid-template-columns: 50px 1fr;
    i{
        background: #fcfcfc;
        padding: 10px;
        border: 1px solid #e1e1e1;
        border-radius: 5px;
        width: 100%;
        font-size: 13px;
        margin-bottom: 15px;
        text-align: center;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    input[type="text"]{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
    }
}
qv-rate{
    display: grid;
    grid-template-columns: 1fr 50px; 
    i{
        background: #fcfcfc;
        padding: 10px;
        border: 1px solid #e1e1e1;
        border-radius: 5px;
        width: 100%;
        font-size: 13px;
        margin-bottom: 15px;
        text-align: center;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
    }
    input[type="text"]{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
fieldset {
    display: block;
}

qv-twoline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
qv-forminline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
qv-inlinethree {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    gap: 10px;
}
qv-equalthree {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
qv-ratepercentage{
    display: flex;
    align-items: center;
    input[type="text"]{
        margin: 0;
    }
    i{
        padding-left: 10px;
    }
}