header{
    padding: 10px 20px;
    box-shadow: 1px -3px 4px 5px $box-shadow;
    @include quo-flex(flex, wrap, center, center, 10px);
    ul{
        margin-left: auto;
        @include quo-flex(flex, wrap, center, center, 25px);
        li{
            cursor: pointer;
        }
    }
    a{
        display: block;
        margin-left: auto;
        img{
            max-width: 155px;
        }
    }
    .notifcation{
        width: 18px; 
        height: 21px;
        background: url('../../images/icons_sprites.png') 38px 162px;
    }
    .users{
        width: 26px; 
        height: 26px;
        background: url('../../images/icons_sprites.png') 118px 46px;
    }
}