$white: #fff;
$grey: #404040;
$grey-light: #efefef;
$blue:#1f0488;
$font-color: #4e4e4e;
$box-shadow: #e3e3e3;
$border-color: #e1e1e1;
$violet:#201786;
$teal: #229a99;
$brown:#ce5668;
$green:#227623;
$yellow: #e5c83f;
$black:#262626;
$biscuit:#cc5518;

.align{
    align-items: center;
}