$white: #fff;
$grey: #404040;
$grey-light: #efefef;
$blue:#1f0488;
$font-color: #4e4e4e;
$box-shadow: #e3e3e3;
$border-color: #e1e1e1;
$violet:#8b87c3;
$teal: #27938f;
$brown:#e5a7b2;
$green:#7ea37e;
$yellow: #cfc075;
$black:#717171;
$biscuit:#d2a091;

.align{
    align-items: center;
}
.radio-inline{
    display: flex;
    gap: 10px;
    align-items: center;
}